<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Artist</title>
  </head>
  <body>
    <%= form_for(@artist) do |f| %>

      <label>Name: </label> <br>
      <%= f.text_field :name %> <br>

      <label>Bio: </label> <br>
      <%= f.text_area :bio %> <br>

      <%= f.submit %>
    <% end %>
  </body>
</html>
