<form action='/artists' method="post">
  Name:
  <input id="artist_name" type="text" name="artist[name]"><br>
  Bio:
  <input id="artist_bio" type="text" name="artist[bio]"><br>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  Submit:
  <input type="submit" name="Create Artist" id="Create Artist" >
</form>
