<form action='/songs' method="post">
  Name:
  <input id="song_name" type="text" name="song[name]"><br>
  Artist:
  <input id="song_artist" type="text" name="song[artist]"><br>
  Genre:
  <input id="song_genre" type="text" name="song[genre]"><br>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  Submit
  <input type="submit" name="Create Song" id="Create Song" >
</form>
